.Host {
  display: flex;
  flex-direction: column;
}
.Players {
  display: flex;
}
.Player {
	width: 33.333%
}
.Player.isResponding {
	background-color: blue;
}

.Clue,
.Answer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: blue;
  color: white;
  font-size: 3em;
  text-transform: uppercase;
}
.Answer {
  background-color: #FC0;
  color: black;
}
.Clue > div,
.Answer > div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  padding: 5%;
}


.Clue:not(.canBuzz) .Timer {
  visibility: hidden;
}